.course-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-bg);
  min-height: 75vh;
  background-color: var(--light-clr);
  transition: transform 0.5s ease-in-out;
}

.course-list.on-search {
  position: fixed;
  top: calc(var(--padding-bg) * 5);
  width: 100%;
}
