a {
  text-decoration: none;
  color: inherit;
}

main {
  display: flex;
  flex-direction: column;
  width: min(var(--max-width), 100% - var(--padding-bg));
  margin-inline: auto;
  background-color: var(--light-clr);
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  font-weight: 500;
  cursor: pointer;
}

.icon {
  color: var(--dark-clr);
}

.hover-over {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .hover-over:hover {
    background-color: var(--dark-tr);
  }
}
