@import "./fonts.css";
@import "./root.css";
@import "./common.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit";
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 200vh;
}
