@import "./fonts.css";
@import "./root.css";
@import "./common.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--padding-bg) * 3);
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 200vh;
}
