:root {
  --accent-clr: #2d8ff4;
  --accent-tr: #2d90f42b;
  --light-clr: #fefefe;
  --light-tr: #fefefe15;
  --dark-clr: #010409;
  --dark-tr: #01040915;
  --border-light: #d1d9e0;
  --border-dark: #3d444d;
  --max-width: 80rem;
  --padding-sm: 0.25rem;
  --padding-md: 0.625rem;
  --padding-bg: 1.25rem;
}
