:root {
  --accent-clr: #2d8ff4;
  --accent-tr: #2d90f42b;
  --light-clr: #fefefe;
  --light-tr: #fefefe2b;
  --dark-clr: #010409;
  --dark-tr: #0104092b;

  --padding-sm: 0.25rem;
  --padding-md: 0.625rem;
  --padding-bg: 1.25rem;
}
