/* Material Layout  */
.material {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--padding-sm);
  border: 1px dotted var(--dark-clr);
  position: relative;
  padding: var(--padding-md);
  border-radius: var(--padding-md);
  width: 100%;
}

/* Info Wrapper */
.material-info-wrapper {
  display: flex;
  gap: var(--padding-md);
  align-items: center;
}

/* Overview Section */
.material-overview {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  position: relative;
  flex-grow: 1;
}

.material .chapter,
.material .name {
  font-size: 0.75rem;
  font-weight: 500;
  opacity: 0.5;
}

.material .chapter,
.material .name,
.material .topic {
  width: 85%;
}

.material .topic {
  font-weight: 500;
  font-size: 0.875rem;
}

/* More Icon */
.material .more {
  padding: var(--padding-md);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Detail Section (animated toggle) */
.material-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
  max-height: 100px;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

.material-detail.closed {
  max-height: 0;
  opacity: 0;
}

/* Detail Content */
.material-details {
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  font-size: 0.875rem;
  padding-top: 0.5rem;
  background-color: var(--light-clr);
  border: 1px dotted var(--dark-clr);
  padding: var(--padding-bg);
  border-radius: var(--padding-bg);
  position: fixed;
  width: min(500px, 100%);
  height: 75vh;
  padding-top: calc(var(--padding-bg) * 2);
  overflow: hidden;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  visibility: visible;
  pointer-events: auto;
  transition: transform 0.3s ease-in-out;
}

.material-details.closed {
  transform: translate(-50%, -50%) scaleY(0);
  visibility: hidden;
  pointer-events: none;
}

.material-details .title {
  font-weight: 500;
  margin-bottom: var(--padding-md);
}

.material-details .close-icon {
  position: absolute;
  top: var(--padding-bg);
  right: var(--padding-md);
  padding: var(--padding-md);
}

/* Buttons Section */
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  border: 1px dotted var(--dark-clr);
  border-radius: var(--padding-bg);
  padding: calc(var(--padding-bg) * 1.5) var(--padding-bg);
  overflow: hidden;
  position: fixed;
  background-color: var(--light-clr);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1;
  gap: var(--padding-md);
  visibility: visible;
  pointer-events: auto;
  transition: transform 0.3s ease-in-out;
}

.material-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-bg);
  text-align: center;
  margin-bottom: var(--padding-md);
}

.material-title .material-icon {
  width: 100px;
  height: 100px;
}

.buttons.closed {
  transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
  pointer-events: none;
}

.button {
  display: flex;
  justify-content: center;
  padding: 0.75rem 0.75rem;
  font-size: 0.875rem;
  gap: var(--padding-md);
  border-radius: var(--padding-md);
  cursor: pointer;
  width: 240px;
  background: var(--dark-tr);
  transition: background 0.3s ease-in-out;
}

.button.download {
  background-color: var(--dark-clr);
  color: var(--light-clr);
}

.download-window {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  border: 1px dotted var(--dark-clr);
  width: 280px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--light-clr);
  padding: var(--padding-bg);
  border-radius: var(--padding-md);
  z-index: 1;
  visibility: visible;
  pointer-events: auto;
  transition: transform 0.3s ease-in-out;
}

.download-window.closed {
  transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
  pointer-events: none;
}

.close-icon-for-mini-window {
  position: absolute;
  right: var(--padding-sm);
  top: var(--padding-sm);
  padding: var(--padding-md);
}

.notice {
  text-align: center;
  padding: var(--padding-bg);
  padding-block: calc(var(--padding-md) * 3);
  width: 100%;
}

.decisions {
  display: flex;
  gap: var(--padding-md);
}

.download-btn,
.cancel-btn {
  display: flex;
  justify-content: center;
  padding: 0.7rem 1rem;
  background: var(--dark-tr);
  width: 120px;
  font-size: 0.875rem;
  border-radius: var(--padding-md);
  cursor: pointer;
}

.download-btn {
  background-color: var(--dark-clr);
  color: var(--light-clr);
}

@media (min-width: 420px) {
  .material {
    min-width: 400;
  }
}
