.filter {
  display: flex;
  align-items: center;
  gap: var(--padding-bg);
}

.filter button {
  border-radius: var(--padding-md) var(--padding-md) 0 0;
  transition: background 0.3s ease-in-out;
}

.highlight {
  border-bottom: 2px solid var(--dark-clr);
}

@media (min-width: 768px) {
  .filter button:hover {
    background-color: var(--dark-tr);
  }
}
