/* Navigation Panel (Sidebar)     */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: min(250px, 100%);
  background-color: var(--light-clr);
  border-right: 1px solid var(--border-light);
  border-radius: 0 var(--padding-sm) var(--padding-sm) 0;
  padding-block: 4rem 2rem;
  padding-inline: var(--padding-md);
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

/* Closed State (Hidden Sidebar)  */
nav.closed {
  left: -350px;
}

/* Navigation Icon Style */
nav .icon {
  opacity: 0.7;
}

/* Navigation List Styling */
nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Navigation List Items */
nav ul li {
  display: flex;
  align-items: center;
  gap: var(--padding-sm);
  flex-grow: 1;
  padding-block: var(--padding-md);
  padding-left: var(--padding-md);
  font-size: 0.875rem;
  border-radius: var(--padding-sm);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

/* Anchor Tag Styling Inside li */
nav ul li a {
  flex-grow: 1;
}

/* Hover Effect on List Items */
nav ul li:hover {
  background-color: var(--dark-tr);
}
