nav {
  position: fixed;
  background-color: var(--light-clr);
  width: min(300px, 100%);
  height: 100vh;
  left: 0;
  top: 0;
  border-right: 1px solid var(--dark-tr);
  border-radius: 0 var(--padding-sm) var(--padding-sm) 0;
  z-index: 1;
  padding-block: 4rem 2rem;
  padding-inline: 0 var(--padding-bg);
  transition: all 0.3s ease-in-out;
}

nav.closed {
  left: -350px;
}

.nav-header {
  display: flex;
  padding-block: 1rem;
}

nav .icon {
  opacity: 0.7;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
  list-style: none;
}

nav ul li {
  display: flex;
  align-items: center;
  gap: var(--padding-sm);
  flex-grow: 1;
  padding-block: var(--padding-md);
  font-size: 0.875rem;
  border-radius: var(--padding-sm);
  transition: background 0.3s ease-in-out;
  cursor: pointer;
  padding-left: var(--padding-bg);
}

nav ul li a {
  flex-grow: 1;
}

nav ul li:hover {
  background-color: var(--dark-tr);
}
