header {
  justify-content: space-between;
  padding-block: var(--padding-md);
  width: min(var(--max-width), 100% - var(--padding-bg));
  margin-inline: auto;
  border-bottom: 1px solid var(--dark-tr);
}

header,
.left-header,
.logo {
  display: flex;
  align-items: center;
}

.left-header {
  gap: var(--padding-sm);
}

.logo {
  font-size: 1.25rem;
  font-weight: 600;
}
