header {
  justify-content: space-between;
  padding: var(--padding-md) var(--padding-bg);
  width: min(var(--max-width, 100% - var(--padding-bg)));
}

header,
.left-header,
.logo {
  display: flex;
  align-items: center;
}

.left-header {
  gap: var(--padding-sm);
}

.logo {
  font-size: 1.25rem;
  font-weight: 600;
}
