/* Main Header Container */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: var(--padding-md);
  margin-inline: auto;
  border-bottom: 1px solid var(--border-light);
  background-color: var(--light-clr);
  z-index: 1;
}

/* Left Section of Header */
.left-header {
  display: flex;
  align-items: center;
  gap: var(--padding-sm);
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
}

/* Right Section of Header */
.right-header {
  display: flex;
  align-items: center;
}

/* Optional Utility Class */
.icon-wrapper {
  display: flex;
  align-items: center;
}
