/* Wrapper for All Courses */
.courses-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--padding-bg);
  padding: var(--padding-bg);
}

/* Active Search Mode */
.courses-wrapper.on-search {
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: min(500px, 100%);
  margin-inline: auto;
}

/* Materials Modal Wrapper */
.materials-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(500px, 100% - 20px);
  height: 75vh;
  background-color: var(--light-clr);
  border: 1px dotted var(--dark-clr);
  border-radius: var(--padding-bg);
  padding: calc(var(--padding-md) * 3);
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

/* Modal Hidden State */
.materials-wrapper.closed {
  transform: translate(-50%, -50%) scaleY(0);
}

/* Material Header (Title + Close Icon) */
.material-header {
  width: 100%;
  padding-block: 1.5rem;
}

.materials-wrapper h2 {
  text-align: center;
}

.materials-wrapper .icon {
  position: absolute;
  top: var(--padding-bg);
  right: var(--padding-md);
  padding: var(--padding-md);
}

/* List of Materials */
.material-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-bg);
  height: 100%;
  overflow-y: auto;
}

/* "Coming Soon" Fallback */
.no-courses-yet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-bg);
}

.no-courses-yet .icon {
  color: var(--accent-clr);
  opacity: 0.7;
}
