.materials-wrapper {
  display: flex;
  gap: var(--padding-md);
  flex-direction: column;
}

.courses-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 300px);
  width: 100%;
  gap: var(--padding-bg);
  padding-block: var(--padding-bg);
  min-height: 75vh;
}

.materials-wrapper {
  gap: var(--padding-bg);
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: min(500px, 100%);
  background-color: var(--light-clr);
  border: 1px dotted var(--dark-clr);
  height: 70vh;
  border-radius: var(--padding-bg);
  overflow-y: auto;
  padding: calc(var(--padding-md) * 3) var(--padding-bg);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.materials-wrapper.closed {
  transform: translate(-50%, -50%) scaleY(0);
}

.materials-wrapper h2 {
  text-align: center;
}

.materials-wrapper .icon {
  position: absolute;
  top: var(--padding-md);
  right: var(--padding-md);
  padding: var(--padding-md);
}
