/* courses wrapper */
.courses-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--padding-bg);
  padding: var(--padding-bg);
  overflow-y: auto;
}

.courses-wrapper.on-search {
  align-items: center;
  flex-direction: column;
  width: min(500px, 100%);
  margin-inline: auto;
}

/* materials wrapper */
.materials-wrapper {
  display: flex;
  gap: var(--padding-md);
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: min(500px, 100% - 20px);
  background-color: var(--light-clr);
  border: 1px dotted var(--dark-clr);
  height: 75vh;
  border-radius: var(--padding-bg);
  padding: calc(var(--padding-md) * 3);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.materials-wrapper.closed {
  transform: translate(-50%, -50%) scaleY(0);
}

/* material header */
.material-header {
  width: 100%;
  padding-block: 1.5rem;
}

.materials-wrapper h2 {
  text-align: center;
}

.materials-wrapper .icon {
  position: absolute;
  top: var(--padding-bg);
  right: var(--padding-md);
  padding: var(--padding-md);
}

/* material list */
.material-list {
  display: flex;
  flex-direction: column;
  gap: var(--padding-bg);
  align-items: center;
  height: 100%;
  overflow-y: auto;
}
