.search-bar {
  width: min(30rem, 100% - var(--padding-bg));
  margin-inline: auto;
  position: relative;
}

.search-bar input {
  padding: 1rem;
  padding-left: calc(var(--padding-bg) * 3);
  border: none;
  background-color: var(--dark-tr);
  border-radius: 50px;
  width: 100%;
}

.search-close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  right: calc(var(--padding-md) - 0.3125rem);
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid var(--dark-tr);
  border-radius: 50%;
  background-color: var(--light-clr);
  cursor: pointer;
}

.search-bar .icon {
  top: 50%;
  transform: translateY(-50%);
  left: var(--padding-bg);
  position: absolute;
  opacity: 0.7;
}
