.search-bar {
  display: flex;
  /* border: 2px solid red; */
  max-width: 600px;
  margin-inline: auto;
  position: relative;
}

.search-bar input {
  padding: 1rem;
  padding-left: calc(var(--padding-bg) * 3);
  border: none;
  background-color: var(--dark-tr);
  border-radius: 40px;
  flex: 1;
  margin-inline: var(--padding-bg);
}

.search-bar .icon {
  top: 50%;
  transform: translateY(-50%);
  left: calc(var(--padding-bg) * 2);
  position: absolute;
  opacity: 0.7;
}
