/* Wrapper: Main search bar */
.search-bar {
  width: min(30rem, 100% - var(--padding-bg)); /* Responsive width */
  margin-inline: auto;
  position: relative;
}

/* Input Field  */
.search-bar input {
  width: 100%;
  padding: 1rem;
  padding-left: calc(var(--padding-bg) * 3); /* leave space for the icon */
  border: none;
  background-color: var(--dark-tr);
  border-radius: 50px;
}

/* Search Icon */
.search-bar .icon {
  position: absolute;
  top: 50%;
  left: var(--padding-bg);
  transform: translateY(-50%);
  opacity: 0.7;
}
